@font-face {
    font-family: "IranSans-Regular";
    src: url('../fonts/woff/IRANSansWeb\(FaNum\).woff') format("woff");
}
@font-face {
    font-family: "IranSans-Bold";
    src: url('../fonts/woff/IRANSansWeb\(FaNum\)_Bold.woff') format("woff");
}
/*  */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "IranSans-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "IranSans-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}
input{
    outline: none;
    border-radius: 6px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: white;
    box-shadow:inset 0px 7px 7px -1px #0000005c;
  }
  .nav-link,.nav-link:focus, .nav-link:hover {
    color: black;
  }
  .nav-pills .nav-link {
    border-radius: 12px;
    background: white;
    box-shadow: 0px 0px 7px -1px gray;
  }
.box{
    width: 90px;
    height: 81px;
  margin: 0px 5px;
  color: rgb(0, 0, 0);
  background: rgb(186, 235, 227);
  border-radius: 10px;
}
.box:hover,.box.active{
    background-color: #facfcf;
    color: black;
}
.max-w-360{
    max-width: 360px;
    width: 100%;
}
.max-w-1300{
    max-width: 1300px;
    width: 100%;
}
.w-23{
    width: 23px;
}
.w-30{
    width: 30px;
}
.w-35{
    width: 35px;
}
.w-40{
    width: 40px;
}
.w-44{
    width: 44px;
}
.w-46{
    width: 46px;
}
.w-53{
    width: 53px;
}
.w-55{
    width: 55px;
}
.w-66{
    width: 66px;
}
.w-80{
    width: 80px;
}
.w-86{
    width: 86px;
}
.w-101{
    width: 101px;
}
.w-120{
    width: 120px;
}
.w-143{
    width: 143px;
}
.w-167{
    width: 167px;
}
.w-280{
    width: 300px;
}
.h-3{
    height: 3px;
}
.h-12{
    height: 12px;
}
.h-23{
    height: 23px;
}
.h-35{
    height: 35px;
}
.h-40{
    height: 40px;
}
.h-44{
    height: 44px;
}
.h-51{
    height: 51px;
}
.h-63{
    height: 63px;
}
.h-60{
    height: 60px;
}
.h-78{
    height: 78px;
}
.h-100vh{
    height: 100vh;
}
.h-120{
    height: 120px;
}
.h-165{
    height: 165px;
}
.h-200{
    height: 200px;
}
.z-2{
    z-index: 2;
}
.z-20{
    z-index: 20;
}
.z-99{
    z-index: 99;
}
.z-999{
    z-index: 999;
}
.-mt-239{
    margin-top: -239px;
}
.-left-11{
    left: -11px;
}
.gray-hover,.gray-hover svg{
    transition: all .4s;
}
.gray-hover{
    position: relative;
}
.gray-hover:hover,.gray-hover.active{
    background-color: #f7f8fa;
}
.gray-hover svg{
    color: #bbb;
}
.gray-hover:hover svg,.gray-hover.active svg{
    color: #27ab7c;
}
.brightness-75{
    filter: brightness(75%);
}
.form-floating > label{
    right: 0;
    left: auto;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label{
    color: black !important;
}
.bg-main{
    background-color: #baebe3;
}
.bg-main2{
    background-color: #06b79c;
}
.bg-main3{
    background-color: #1ba775;
}
.bg-gray{
    background-color: #e9e9e9;
}
.bg-gray2{
    background-color: #e3ece9;
}
.text-gray2{
    color: #777;
}
.text-red{
    color: #fa0718;
}
.text-justify{
    text-align: justify;
}
.shadow-1{
    box-shadow: 0 0 20px rgba(0,0,0,0.13);
}
.rounded-5{
    border-radius: 5px;
}
.rounded-8{
    border-radius: 8px;
}
.rounded-20{
    border-radius: 20px;
}
#sidebar{
    transition: all .4s;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-19{
    font-size: 19px;
}
.fs-24{
    font-size: 24px;
}
.fs-31{
    font-size: 31px;
}
.-mb-92{
    margin-bottom: -92px;
}
.border-main-2{
    border: 2px solid #06b79c;
}
.border-8-gray{
    border: 8px solid #e9e9e9;
}
.border-7-white{
    border: 7px solid white;
}
.border-dashed-2{
    border: 2px dashed black;
}
.object-cover{
    object-fit: cover;
}
.outline-none{
    outline: none;
}
.opacity-0{
    opacity: 0;
}
.cursor-pointer{
    cursor: pointer;
}
.size,.roo,.sahafi,.sahafitype,.jeld{
    transition: all .4s;
}
.size.active,.roo.active,.sahafi.active,.sahafitype.active,.jeld.active{
    background-color: #dc3545 !important;
    color: white;
}
.accordionBtn svg{
  transition: all .4s;
}
.accordionBtn.active svg{
  transform: rotate(180deg);
}
.accordionContent{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}
.accordionContent.active{
    max-height: 2000px;
    overflow: visible;
}
#textSlider p {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    top: -21px;
}

#textSlider p.active {
    opacity: 1;
}
/* tab */
.tabs{
    opacity: 30%;
}
.tabs.active{
    opacity: 100%;
}
.tabContent > div{
    display: none;
}
.tabContent > div:first-child{
   display: block;
}
/* scroll */
.hiddenScroll::-webkit-scrollbar {
    width: 1px;
    /* Width of the scrollbar */
    height: 1px;
    /* Height for horizontal scrollbar */
}

/* The scrollbar track */
.hiddenScroll::-webkit-scrollbar-track {
    background: transparent;
    /* Light gray background */
    border-radius: 10px;
    /* Rounded corners */
}

/* The scrollbar thumb (the draggable part) */
.hiddenScroll::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #eaeff7, transparent);
    /* Gradient effect */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid transparent;
    /* Space around the thumb */
}

/* The scrollbar thumb on hover */
.hiddenScroll::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #eaeff7, transparent);
    /* Darker gradient on hover */
}

/* Firefox scrollbar styling */
* {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: #eaeff7 transparent;
    /* Thumb and track colors */
}

#banner{
    background-image: url('../img/banners/page-1.jpg');
    background-size: 100% 100%;
    margin-top: -113px;
}
#about{
    background-image: url('../img/2.jpg');
    background-size: 100% 100%;
}
footer{
    padding-bottom: 1.5rem;
}
@media only screen and (max-width: 992px) {
    #sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        left: -340px;
        right: auto;
    }
    #sidebar.active{
       left: 0;
    }
    .right-lg-52{
        right: 52px !important;
    }
    .h-lg-auto{
        height: auto;
    }
    .position-lg-fixed{
        position: fixed;
    }
    .position-lg-static{
        position: static !important;
    }
    .menu{
        background-color: white;
        height: 100%;
        width: 200px;
        z-index: 110;
        right: -300px;
        transition: all .4s;
        box-shadow: 1px 10px 23px rgba(128, 128, 128, 0.314);
    }
    .menu.active,.menu2.active{
        right: 0;
    }
    .menu2.active{
        z-index: 999;
    }
    #overlay,#overlay2{
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.463);
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }
    #overlay.active,#overlay2.active{
       opacity: 100%;
       visibility: visible;
    }
    footer{
        padding-bottom:130px !important;
    }
}
@media only screen and (max-width: 768px) {
  #banner,#about{
    background-size: cover;
    height: 67vh;
  }
  .-mt-md-68{
    margin-top: -143px;
  }
}
@media only screen and (max-width: 576px) {
    .fs-sm-22{
        font-size: 22px;
    }
    .fs-sm-16{
        font-size: 16px;
    }
    .fs-sm-14{
        font-size: 14px;
    }
    .fs-sm-12{
        font-size: 12px;
    }
    .fs-sm-11{
        font-size: 11px;
    }
    .w-sm-97{
        width: 97px;
    }
    .w-sm-86{
        width: 86px;
    }
    .w-sm-48{
        width: 48px;
    }
    .w-sm-24{
        width: 24px;
    }
    .h-sm-95{
        height: 95px;
    }
    .h-sm-41{
        height: 41px;
    }
    .right-sm-38{
        right: 38px !important;
    }
    .position-sm-static{
        position: static !important;
    }
    #textSlider p{
        top: -17px;
    }
}